.order {
  height: auto;
  min-height: 100vh;
  background: #f4f4f4;
  padding: 20rpx;
  position: relative;
  box-sizing: border-box;
}

.tab-switch {
  width: calc(100% - 40rpx);
  position: fixed;
  top: 20rpx;
  margin: auto;
  box-sizing: border-box;
  height: 83rpx;
}

.tab-content {
  flex: auto;
}